<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/footer.css">
  </head>
  <body>
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="logo">
              <img src="../assets/branding/logo-lightmode.png" alt="logo" class="img-fluid" />
              <h4 class="logo-text">eBarangay Portal</h4>
            </div>
          </div>
          <div class="col-md-3">
            <h4>MENU</h4>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h4>SERVICES</h4>
            <ul class="list-unstyled">
              <li><a href="#">Events</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Request</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h4>OTHER</h4>
            <ul class="list-unstyled">
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Help Center</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bottom-text">
        <p>&copy; 2023 eBarangay Portal. All rights reserved.</p>
      </div>
    </footer>
    
  </body>
</html>
