<!DOCTYPE html>
<html lang="en">

<style>
    .top-navbar .links ul li a.active {
    color: #FFCC00;
}
</style>

<head>
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Top Navbar -->
    <nav id="top-navbar" class="top-navbar">
        <div class="row">
            <div class="logo">
                <img src="assets/branding/logo-darkmode.png" alt="">
            </div>
            <div class="links">
                <ul>
                    <li><a href="#home" id="home-link">Home</a></li>
                    <li><a href="#events" id="events-link">Events</a></li>
                    <li><a href="#request" id="request-link">Request</a></li>
                    <li><a href="#about" id="about-link">About</a></li>
                    <li><a href="#contact" id="contact-link">Contact</a></li>
                </ul>
            </div>
            <div class="signup-button">
                <a href="sign-up.php">SIGN UP</a>
            </div>
        </div>
    </nav>
</body>
</html>